# Build outputs
.next/
out/
build/
dist/

# Dependencies
node_modules/

# Misc
.DS_Store
*.pem
.env*
!.env.example

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.vercel
.turbo

# Coverage
coverage/ 